/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

/* Désolé que ça soit sur une seule page. 
// J'ai suivi le tuto et pas féfléchi à la création du dossier. */

body {
  background-color: #e1e1d5;
  font-family: "Playfair Display", serif;
  list-style: none;
}

header {
  border-bottom: #2b2726 solid 4px;
  padding-bottom: 1%;
}

h1 {
  font-weight: 300;
  font-size: 180px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  padding: 0.5% 0 0.8% 8%;
}

h4 {
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 26px;
}

p {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 24px;
  line-height: 130%;
}

img {
  mix-blend-mode: luminosity;
}

a {
  text-decoration: none;
}

footer {
  background-color: #2b2726;
  color: #e1e1d5;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 40px 0;
}

footer p {
  font-size: 16px;
}

.copyrights {
  font-size: 14px;
  color: #e1e1d58c;
}

/* ============================
// BARRE DE MENU
// ============================ */
.wrapper-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
}
.hdr-logo {
  font-size: 44px;
  font-weight: 400;
  text-transform: capitalize;
}
.slogan {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -6%;
  text-transform: uppercase;
  text-align: center;
}

#searchform {
  display: flex;
  align-items: center;
}
#searchform input[type="text"] {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid #2b2726;
  padding: 5px;
  background-color: #e1e1d5;
}
#searchsubmit {
  background: none;
  border: none;
  cursor: pointer;
}
#searchsubmit i {
  font-size: 1.2em; /* Adjust icon size as needed */
  color: #2b2726; /* Adjust icon color */
}

/* ======================================================================== 
// CSS ==> BURGER-MENU
// =======================================================================*/
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 50px;
  right: 1%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 2px;
  background-color: #2b2726;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -100%;
  width: 400px;
  height: 390px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #e1e1d5;
  border-left: #2b2726 solid 3px;
  border-bottom: #2b2726 solid 3px;
  color: #2b2726;
  font-size: 40px;
  text-transform: uppercase;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__box a {
  padding-left: 5%;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #2b2726;
}

/* ======================================================================== 
// CSS ==> HORIZONTAL STROKES
// =======================================================================*/
.stroke {
  position: relative;
  z-index: -1;
  width: 100%; /* Adjust width as needed */
  height: 3px; /* Stroke height */
  background-color: #2b2726; /* Stroke color */
}
.stroke::before,
.stroke::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.stroke::before {
  top: -11px;
  border-width: 14px 8px 10px;
  border-color: #2b2726 transparent transparent transparent;
  rotate: -90deg;
  left: 0;
}
.stroke::after {
  top: -11px;
  border-width: 14px 8px 10px;
  border-color: #2b2726 transparent transparent transparent;
  rotate: 90deg;
  right: 0;
}
.stroke-menu {
  height: 2px;
  margin: 2.5% 0;
}
.stroke-menu::before {
  left: 1;
}
/* ======================================================================== 
// CSS ==> VERTICAL STROKES
// =======================================================================*/
footer {
  position: relative;
}
.f-stroke-verti {
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #e1e1d5;
}
.f-stroke-verti-left {
  left: 33%;
}
.f-stroke-verti-right {
  right: 33%;
}
.f-stroke-verti::before,
.f-stroke-verti::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.f-stroke-verti::before {
  top: 0px;
  border-width: 14px 8px 10px;
  border-color: #e1e1d5 transparent transparent transparent;
  rotate: 0deg;
  left: -7;
}
.f-stroke-verti::after {
  bottom: 0px;
  border-width: 14px 8px 10px;
  border-color: #e1e1d5 transparent transparent transparent;
  rotate: 180deg;
  right: -7;
}

/* ======================================================================== 
// CSS ==> INDEX HTML
// =======================================================================*/
.subtitle-journal-type {
  font-family: "OFL Sorts Mill Goudy TT";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  margin-bottom: 54px;
}

/* ====================
// BOX TENDANCES
// ==================== */
.inthenews {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 25px 0;
}
.report-card-name {
  font-size: 32px;
  text-transform: uppercase;
}

/* ====================
// BOX CONTINENTS
// ==================== */
.box-continents {
  padding: 90px 0 70px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

figcaption {
  font-size: 26px;
}

.box-continents-page {
  margin: 5% 4%;
}

.box-continents-page p {
  font-size: 20px;
  padding: 2% 6% 0 0;
}

/* ====================
// BOX CLASSIFICATIONS
// ==================== */
.box-classification {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 40px;
}

/* ====================
// BOX PROFESSEUR
// ==================== */
.box-professor {
  display: flex;
}

.news-title-professor {
  font-size: 45px;
  line-height: 120%;
  padding: 0;
}
.news-infos-professor {
  font-size: 24px;
  line-height: 130%;
  font-family: "Sorts Mill Goudy", serif;
  margin: 2.5% 20% 0 0;
}

/* ======================================================================== 
// CSS ==> FOOTER PRECISIONS
// =======================================================================*/
.f-social {
  display: flex;
}

.f-social p,
.f-social a {
  display: flex;
  align-items: center;
}

.f-icon {
  margin-left: 10px;
}

